html, body{
    font-family: sans-serif;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0;
}
#main{
    text-align: center;   
}
#main img{
    margin-top: 40px;
    width: 400px;
    height: 400px;
}
.num{
    margin-top: -10px;
    margin-bottom: -10px;
    font-size: 100px;
    font-weight: bold;
}
.message{
    margin-top: -10px;
    font-size: 25px;
}
.link a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.link a:hover{
    color: RGB(210,180,0);
}
