@import url('http://fonts.googleapis.com/css?family=Noto+Sans');
html>body html, body{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    height: 100%;
    font-family: Noto Sans,sans-serif,serif,fantasy; 
}
html>body .con{
    position: relative;
    width: 100%;
    height: 100%;
}
html>body .main{
    display: table;
    position: relative; z-index: 1;
    height: 100%;
    width: 100%;
}
html>body .inner{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
html>body .num{
    margin-top: -10px;
    font-size: 100px;
    font-weight: bold;
    margin-bottom: -10px;
}
html>body .message{
    font-size: 25px;
}
html>body .link a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
html>body .link a:hover{
    color: RGB(260,210,0);
}

html>body #my_img{
    height: 350px;
    width: 350px;
    -webkit-transition: transform 0.1s ease;
    -moz-transition: transform 0.1s ease;
    -ms-transition: transform 0.1s ease;
    -o-transition: transform 0.1s ease;
}
html>body #my_img:hover{
-webkit-transform: rotate(20deg);   
-moz-transform: rotate(20deg);
-ms-transform: rotate(20deg);
-o-transform: rotate(20deg);

}

@media screen and (max-width:600px) {

html>body .num{
margin-top: -10px;
font-size: 50px;
font-weight: bold;
margin-bottom: -10px;
}
html>body .message{
font-size: 20px;
}
html>body .link a{
font-size: 15px;
text-decoration: none;
color: black;
}
html>body .link a:hover{
color: RGB(260,210,0);
}

html>body #my_img{
height: 40%;
width: 40%;
-webkit-transition: transform 0.1s ease;
-moz-transition: transform 0.1s ease;
-ms-transition: transform 0.1s ease;
-o-transition: transform 0.1s ease;
}
html>body #my_img:hover{
-webkit-transform: rotate(20deg);   
-moz-transform: rotate(20deg);
-ms-transform: rotate(20deg);
-o-transform: rotate(20deg);

}

}
